.card{
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5);
    text-align: center;
    width: 400px;
   
    text-align: start;
    padding: 10px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.card p{ color: #e4e6e7;}
.card h3 {    background: linear-gradient(177.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
font-size: 20px;
font-weight: 800;

}
.container{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
column-gap: 2rem;
row-gap: 3rem;
position: relative;
margin-top: 3rem;
}
.projectMainContainer{
    padding: 0 2rem 2rem 2rem;
}
.heading{
    background:  linear-gradient(170.57deg, #FFFFFF 18.77%, black 60.15%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
    line-height: 1.3;
    font-size: 30px;
    margin-bottom: 1rem;
    margin: 0;
}

.card button{   
    color: #FFF;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.33);
    box-sizing: border-box;
    border-radius: 999px;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    width: fit-content;
    cursor: pointer;
    transition: 0.4s ease;
    background:linear-gradient(270deg, #ff622e 0%, #B133FF 100%);
    margin-bottom: 1rem;
    
    


}
.detailedProjectContainer{
    display: block;
}
.cardWrapper{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.container button:focus {
    outline: none;
  }

  .container button:hover {
    color: white;
    background: linear-gradient(270deg, #00DBD8 0%, #B133FF 100%);
    
  }
 
 .lottieWarpper{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }